/node_modules
/public/hot
/public/storage
/storage/*.key
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Игнорировать всё содержимое storage
/storage/*

# Исключить public, чтобы она оставалась
!/storage/app/public

# Исключить папку logs, если нужны логи между деплоями
!/storage/logs

# Исключить другие необходимые поддиректории storage
!/storage/framework/sessions
!/storage/framework/views
