/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/public
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Исключить папку logs, если нужны логи между деплоями
!/storage/logs

# Исключить другие необходимые поддиректории storage
!/storage/framework/sessions
!/storage/framework/views
